<form #signupForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- Name -->
    <div class="row justify-content-center">
        <div class="mt-3 w-25">
            <label for="name" class="form-label">Name</label>
            <input
                data-testid="name"
                #nameField="ngModel"
                type="text" 
                [(ngModel)]="name" 
                name="name" 
                class="form-control"
                id="name" aria-describedby="nameHelp" 
                required minlength="3" maxlength="20"
                pattern="[a-zA-Z]*"
                [class.is-invalid]="nameField.dirty && nameField.invalid"
            />
            @if(nameField.dirty){
                @if(nameField.hasError('required')){
                    <div class="form-text text-danger" data-testid="error-name-required">Name is required.</div>
                }
                @if(nameField.hasError('minlength')){
                    <div class="form-text text-danger" data-testid="error-name-minlength">
                        Name must contain at least {{ nameField.getError('minlength').requiredLength }} caracters.
                    </div>
                }
                @if(nameField.hasError('maxlength')) {
                    <div class="form-text text-danger" data-testid="error-name-maxlength">
                      Name must contain maximum {{ nameField.getError('maxlength').requiredLength }} caracters.
                    </div>
                }
                @if(nameField.hasError('pattern')){
                    <div class="form-text text-danger" data-testid="error-name-pattern">
                        Name must contain only letters.
                    </div>
                }
            }
        </div>        
    </div>

    <!-- Email -->
    <div class="row justify-content-center">
        <div class="mt-3 w-25">
            <label for="email" class="form-label">Email</label>
            <input
                data-testid="email"
                #emailField="ngModel"
                type="email" 
                [(ngModel)]="email" 
                name="email" 
                class="form-control" 
                id="email" 
                aria-describedby="emailHelp"
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                required
                [class.is-invalid]="emailField.dirty && emailField.invalid"
            />
            @if(emailField.dirty){
                @if(emailField.hasError('required')){
                    <div class="invalid-feedback">Email is required.</div>
                }
                @if(emailField.hasError('pattern')){
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                }
            }       
        </div>
    </div>

    <!-- Password -->
    <div class="row justify-content-center">
        <div class="mt-3 w-25">
            <label for="password" class="form-label">Password</label>
            <input
                data-testid="password" 
                #passwordField="ngModel"
                type="password" 
                [(ngModel)]="password" 
                name="password" class="form-control" 
                id="password" 
                aria-describedby="passwordHelp"
                required
                minlength="8"
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[@$!%*?&])[A-Za-z0-9@$!%*?&]{8,}$"
                [class.is-invalid]="passwordField.dirty && passwordField.invalid"
                
            />
            @if(passwordField.dirty){
                @if(passwordField.hasError('required')){
                    <div class="invalid-feedback">Password is required.</div>
                }
                @if(passwordField.hasError('minlength')){
                    <div class="invalid-feedback">Password must be at least 8 characters.</div>
                }
                @if(passwordField.hasError('pattern')){
                    @if(!passwordField.value.match('(?=.*[A-Z])')){
                        <div class="invalid-feedback">Password must contain at least one uppercase letter.</div>
                    }
                    @if(!passwordField.value.match('(?=.*[a-z])')){
                        <div class="invalid-feedback">Password must contain at least one lowercase letter.</div>
                    }
                    @if(!passwordField.value.match('(?=.*[0-9])')){
                        <div class="invalid-feedback">Password must contain at least one digit(0-9).</div>
                    }
                    @if(!passwordField.value.match('(?=.*[@$!%*?&])')){
                        <div class="invalid-feedback">Password must contain at least one special character from the following list : &#64;$!%*?&</div>
                    }
                    
                }
            }
        </div>        
    </div>

    <!-- ConfirmPassword -->
    <div class="row justify-content-center">
        <div class="mt-3 w-25">
            <label for="confirm-password" class="form-label">Confirm password</label>
            <input
                data-testid="confirm-password"
                #confirmPasswordField = "ngModel"
                type="password" 
                [(ngModel)]="confirmPassword" 
                name="confirm-password" 
                class="form-control" 
                id="confirm-password" 
                aria-describedby="confirmPasswordHelp"
                required
                [class.is-invalid]="confirmPasswordField.dirty && (confirmPasswordField.invalid || !isPasswordMatchValid())"
            />
            @if(confirmPasswordField.dirty){
                @if(confirmPasswordField.hasError('required')){
                    <div class="invalid-feedback">Confirm password is required.</div>
                }            
                @if(!isPasswordMatchValid()){
                    <div class="invalid-feedback">Passwords must match.</div>
                } 
                
            }
         
        </div>        
    </div>

    <!-- Sign Up -->
    <div class="row justify-content-center">
        <div class="mt-3 w-25">
            <button 
                data-testid="submit-button"
                type="submit" 
                class="btn btn-primary form-control" 
                [disabled]="signupForm.invalid || !isPasswordMatchValid()"
            >
                Sign Up
            </button>
        </div>
    </div>  
    
</form>
