<div class="container my-5">
  <pre>{{ workday() | json }}</pre>
  <div class="row align-items-center mb-4">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h6 class="mb-2">Working Day</h6>
      <input
        type="date"
        class="form-control"
        [value]="workday().date"
        (change)="updateDate($event)"
        [disabled]="workday().isExecutionMode || workday().isWorkdayCompleted"
      />
      @if (workday().isExecutionMode) {
        <div class="d-flex flex-column align-items-center mt-2">
          <div class="progress w-100" data-testid="workday-progress">
            <progress
              class="progress-bar progress-bar-striped progress-bar-animated bg-success"
              [style.width.%]="pomodoroProgress()"
              attr.aria-valuenow="{{ pomodoroProgress() }}"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ pomodoroProgress() }}%
            </progress>
          </div>
          <p class="small text-muted mt-2 text-center w-100">
            {{ progress() }} seconds have passed.
          </p>
        </div>
      }
    </div>
    @if (
      workday().hasTaskPlanned &&
      workday().isEditMode &&
      !workday().isWorkdayCompleted
    ) {
      <div
        class="col-md-4 text-end mt-3 mt-md-0"
        data-testid="start-workday-button"
      >
        <button
          class="btn btn-success rounded-pill px-4 py-2 fw-bold"
          (click)="startWorkday()"
        >
          Start the work day
        </button>
      </div>
    }
  </div>

  @if (workday().hasNoTaskPlanned) {
    <div class="text-center my-5" data-testid="inbox-zero-placeholder">
      <img
        src="images/productivity-planner-inbox-zero.gif"
        alt="Inbox zero"
        class="img-fluid mx-auto"
      />
      <p class="mt-3 text-muted">Aucune tâche prévue pour aujourd'hui !</p>
    </div>
  }
  @for (task of workday().taskList; track $index) {
    @if ($index === 0) {
      <h6 class="mb-3 text-muted">Most important task</h6>
    }
    @if ($index === 1) {
      <h6 class="mb-3 text-muted">Tâches de seconde importance</h6>
    }
    @if ($index === 3) {
      <h6 class="mb-3 text-muted">Tâches restantes</h6>
    }
    @if (
      workday().isEditMode &&
      !workday().isWorkdayCompleted &&
      !workday().isTaskCompleted(task)
    ) {
      <app-task-field
        class="p-3 mb-3"
        [task]="task"
        [index]="$index"
        (taskUpdated)="updateTask($index, $event)"
        (taskRemoved)="removeTask($index)"
      />
    }
    @if (
      workday().isExecutionMode ||
      workday().isWorkdayCompleted ||
      workday().isTaskCompleted(task)
    ) {
      <app-task-readonly [task]="task" [index]="$index" />
    }
  }

  <div class="text-center">
    @if (workday().canAddTask) {
      <button
        data-testid="add-task-button"
        class="btn btn-link text-muted"
        (click)="addTask()"
      >
        Ajouter une tâche
      </button>
    }
  </div>
</div>
